<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sf.net.dvstar.diadiary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.DiagramActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DiaryActionsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.InsulinInjectAddActivity" />
        <activity android:name=".activity.InsulinDescActivity" />
        <activity android:name=".activity.InsulinDescAddActivity" />
        <activity android:name=".activity.DiaryGlucoseAddActivity" />
        <activity android:name=".activity.DiaryPressureAddActivity" />
        <activity android:name=".activity.AboutActivity" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="diadiary.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name=".activity.DatabaseActivity"
            android:label="@string/title_activity_database"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ProdMenuActivity"

            android:label="@string/action_menus"/>

        <!-- android:theme="@style/AppTheme.NoActionBar" -->

        <activity android:name=".activity.ProdGroupActivity"/>
        <activity android:name=".activity.ProdItemActivity" android:label="@string/activity_products_title"/>
        <activity android:name=".activity.SettingActivity" android:label="@string/activity_settings_title"/>
        <activity android:name=".activity.UserProfileActivity" android:label="@string/activity_profile_title"/>
        <activity android:name=".activity.ProdMenuAddActivity" android:label="@string/activity_menuadd_title"/>
        <activity android:name=".activity.ProdItemAddActivity"/>
        <activity android:name=".activity.DiaryMenuAddActivity" android:label="@string/activity_menuadd_title"/>

    </application>

</manifest>
