<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sf.net.dvstar.diadiary" >

    <application
        android:name="sf.net.dvstar.diadiary.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="sf.net.dvstar.diadiary.activity.DiagramActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity android:name=".activity.DiaryActionsActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="sf.net.dvstar.diadiary.activity.InsulinInjectAddActivity" />
        <activity android:name="sf.net.dvstar.diadiary.activity.InsulinDescActivity" />
        <activity android:name="sf.net.dvstar.diadiary.activity.InsulinDescAddActivity" />
        <activity android:name="sf.net.dvstar.diadiary.activity.DiaryGlucoseAddActivity" />
        <activity android:name="sf.net.dvstar.diadiary.activity.AboutActivity" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="diadiary.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

    </application>

</manifest>
